@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Press Start 2P';
  src: url('/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Press Start 2P';
}